*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  background: url("img/back.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.wrapper{
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  position: relative;
  padding-bottom: 200px;
}

header{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #2752ae;
  height: 100px;
}
#out{
  min-height: 100px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.row {
  width: 94%;
  margin: auto;
}
.row:after{
  clear: both;
  content: '';
  display: block;
}
.logo{
  width:10%;
  padding-top: 10px;
  float: left;
}
.logo img{
  width: 100px;
}
h1{
  width: 80%;
  margin: auto;
  padding: 30px 0;
  float: left;
  text-align: center;
  color: #fff470;
  font-family: Verdana, sans-serif;
}

.lang{
  width: 10%;
  float: left;
  text-align: right;
}
.lang button{
  margin: 44px 0 0 10px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline:none;
}
button img{
  width: 100%;
}
.col {
}
.poet {
  width: 273px;
  margin: 50px auto 20px;
  font-size: 20px;
}
.enter-your-name{
  width: 290px;
  margin: 20px auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
#name{
  border: 1px solid #86d8ff;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin: 20px auto 50px;
  display: block;
  outline: none;
  font-size: 26px;
  padding: 0 10px;
}
.adv {
  width: 100%;
  height: auto;
  border: 1px solid #fff470;
  margin: auto;
  padding: 20px;
  position: absolute;
  bottom: 100px;
  text-align: center;
}
#box1 {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  float: left;
}
#box2 {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  float: right;
}
footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  /*background: #bea471;*/
  background: #fff470;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
footer p{
  text-align: center;
  font-size: 18px;
  line-height: 100px;
}
footer a{
  text-decoration: none;
  color: #2752ae;

}
