*{
  box-sizing: border-box;
}
/*body {
  width: 100%;
  height: 100%;
}*/
.row {
  width: 100%;
  height: auto;
  border: 1px solid blue;
  display: inline-block;
}
.col {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 10px 50px 10px 50px;
}
.adv {
  width: auto;
  height: auto;
  border: 1px solid red;
  margin: 10px 50px 10px 50px;
}
#box1 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 2px;
  margin-left: 50px;
  float: left;
}
#box2 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 2px;
  margin-right: 50px;
  float: right;
}
